
/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */

body,
#page,
.page-wrapper {
  height: 100%;
	margin: 0;
	padding-right: 0!important;
	padding-left: 0!important;
	padding-top: 0!important;
}

.page-home #page {
  height: 100%;
	margin: 0;
	padding-right: 0!important;
	padding-left: 0!important;
	padding-top: 0!important;
}


.section {
	margin: 0!important;
	padding: 0;
}

#main,
#main .container {
	height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	width: 100%!important;
}


.views-exposed-widgets {
	margin: 1em;
}

.views-exposed-widgets #edit-title,
.views-exposed-widgets .chosen-container,
.views-exposed-widgets .chosen-choices {
	min-height: 30px;
}